<div class="container">
    <section class="all-events">

        <div class="links">
            <div class="today">
                <a class='cta-3' (click)="goToDashboard()">Go to dashboard</a>
            </div>
            <div class="make-event">
                <a class='cta cta-make' (click)="showForm()">Make New Event +</a>
            </div>
        </div>
    
        <div class="event-card-container">
            <app-event-card *ngFor="let event of $eventsOfUser()" [event]="event"></app-event-card>
            <div class='skeleton-body' *ngIf="$eventsOfUser().length < 1 && $waitingResponse()">
                <app-skeleton *ngFor="let card of skeletonCards"></app-skeleton>
            </div>
        </div>
    </section>

    
</div>