h2{
    font-size: 2.2rem;
}

h4{
    font-size: 1.8rem;
}

.heading{
    width: 100%;
    margin-top:2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.event-heading .nav-back{
    text-decoration: underline;
    cursor: pointer;
}

.date-flex{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.date-flex svg{
    height: 1.5rem;

}

.date-flex svg {
    stroke: var(--secund-color);
}
.date-flex svg.late{
    stroke: var(--main-color) !important;
}


.title{
    text-align: center;
    min-width: 300px;
}
.title h2{
    margin-bottom: 2rem;
}

.title .datum{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.delete-btn{
    display: flex;
    padding: 5px 10px;
    background-color: var(--main-color);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    gap: 5px
}

.delete-btn svg{
    height: 1.3rem;
}

.delete-btn p {
    margin-bottom: 0;
}

.wrapper{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}
.event-body{
    flex: 2;
    min-width: 350px;
    position: relative;
    padding: 10px 1.5rem;
    border: 1px solid #ccc;
    min-height: 200px;
    border-radius: 3px;
    box-shadow: 6px 6px 12px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.omschrijving p {
    margin-top: 3rem;
    font-size: 1.5rem;
}


.locatie{
    display: flex;
    gap: 1rem;
}

.locatie .loc{
    color: var(--main-color)
}

.edit{
    position: absolute;
    right: 10px;
    top: -1.8rem;
    cursor: pointer;
}

.edit svg{
    height: 3rem;
    stroke: rgb(25, 25, 198)
}

.side-bar{
    flex: 1;
    min-width: 340px;
    margin-bottom: 1rem;
    padding: 10px 1.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    /* box-shadow: 6px 6px 12px rgba(0,0,0,0.3); */
}

.deelnemers{
    border: 1px solid #ccc;
    padding: 5px 10px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
}

.deelnemers h5, .uploaded-files h5{
    text-decoration: underline;

}

.deelnemer{
    display: flex;
    justify-content: space-between;
}

.deelnemer .cancel{
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.deelnemer .cancel svg{
    fill: red;
}

.deelnemer, .files-array{
    padding: 5px;
    border: 1px solid  #ccc ;
}

.deelnemer .name{
    font-size: 16px;
    margin-bottom: 0;
}

.deelnemer .email{
    font-size: 14px;
    margin-bottom: 0;
    opacity: 0.8;
}

.files-wrapper{
    width: 100%;
    margin: 2rem 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;

}

.files{
    flex: 2;
    width: 100%;
    min-width: 350px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px 1.5rem;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.3);

}

.uploaded-files{
    flex: 1;
    width: 100%;
    min-width: 340px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 3px;
}

.files-array{
    border: 1px solid #ccc;
    padding: 10px 15px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.3);

}

.uploaded-file{
    padding: 5px 10px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    gap: 5px;

}

.upload-thumbnail, .download, .delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.upload-thumbnail  img{
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}
.upload-thumbnail p {
    margin: 0;
    padding: 0;
}

.download button, .delete button{
    outline: none;
    padding: 5px 10px;
    border-radius: 2px;
    
}

.download button{
    /* border: 1px solid var(--main-color); */
    background-color: var(--secund-color);
    color: #fff;
}

.delete button{
    border: 1px solid #ccc;
    background-color: red;
    color: #fff;
}


