.login-form{
    width: 100%;
    min-height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    text-align: center;
    margin: 5px 0;
}

.form{
    width: 80%;
    max-width: 300px;
    background-color: #ccc;
    padding: 10px 1rem;
    border-radius: 2px;
}

.form-control-s{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-control-s label{
    text-transform: capitalize;
    opacity: 0.95;
}

.form-control-s input{
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.2)
}


.form-control-s #submit{
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;

    background-color: var(--main-color);
}

