<div class="card" [ngClass]="{'owner': event.organizer_id == 1, 'late': hasPassed}">
    <div class="heading">
        <h3>{{event.titel}}</h3>
        <div class="date-flex">
            <svg  [ngClass]="{'late': hasPassed}" xmlns="http://www.w3.org/2000/svg" fill='none' viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
              
            <p class="date-time">{{convertedDate}}</p>
        </div>
    </div>

    <div class="omschrijving">
        <p>
            {{event.omschrijving}}        
        </p>
    </div>

    <div class="footing">
        <div class="locatie">
            <h4>Locatie: <span>{{locationString}}</span></h4>
        </div>
        <div class="cta-2" [ngClass]="{'red': hasPassed, 'green': !hasPassed}">
            <button type="button" routerLink="/events/{{event.id}}">See Details</button>
        </div>
    </div>
</div>